fastapi
uvicorn[standard]

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
python-multipart

httpx

celery
redis

pytest
pytest-asyncio
cryptography
booktype

aiosmtplib